.form {
	background-color: var(--light-bg-color);
	border: 2px solid var(--red-color);
	border-radius: 20px;
	position: relative;
	max-width: 500px;
	width: 100%;

	.input {
		border: none;
		border-radius: 20px;
		font-size: 24px;
		padding: 10px 30px;
		background-color: var(--light-bg-color);
		outline: transparent;
		height: 50px;
		width: 100%;
	}

	.button {
		border: none;
		border-radius: 0 17px 17px 0;
		cursor: pointer;
		width: 70px;
		transition: background-color 0.3s;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;

		&:hover {
			background-color: var(--red-color);
		}
	}
}
