.organization-card {
	border: 1px dashed var(--black-color);
	border-radius: 15px;
	padding: 20px;

	&__title {
		margin-bottom: 10px;
	}

	&__item:not(:last-of-type) {
		margin-bottom: 5px;
	}

	&__button {
		border: none;
		background-color: transparent;
		cursor: pointer;
		font-size: 16px;
		text-decoration: underline;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: var(--red-color);
		}
	}
}
